/proto1/dist/
/projekt/systemAkademika/nbproject/private/
/projekt/systemAkademika/build/
/projekt/systemAkademika/dist/
/projekt/systemAkademika2/nbproject/private/
/projekt/systemAkademika2/build/
/projekt/systemAkademika2/dist/
/EnterpriseApplication1/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-war/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-ejb/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-war/build/
/EnterpriseApplication1/EnterpriseApplication1-ejb/build/
/EnterpriseApplication1/EnterpriseApplication1-ejb/dist/