/proto1/dist/
/projekt/systemAkademika/nbproject/private/
/projekt/systemAkademika/build/
/projekt/systemAkademika/dist/
/projekt/systemAkademika2/nbproject/private/
/projekt/systemAkademika2/build/
/projekt/systemAkademika2/dist/