
#top {
    position: relative;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    padding: 5px;
    width: 150px;
}

.panel{
    border-radius: 20px 20px 20px 20px;
    margin-left: 1px;
}

.center_content {
    padding: 5px;
    alignment-adjust: central;
}

.left_content {
    padding: 5px;
    margin-left: 5%;
}

.right_content {
    padding: 5%;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


