/*panel naglowkowy*/
#top {
    position: relative;
    background-color: #6B2EB0;
    color: white;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 15px;
}
/*stopka*/
#bottom {
    position:absolute;
    bottom: 0;
    left: 0;
    background-color: #BD1D60;
    height:auto;
    width: 100%;
    color: grey;
}
/*lewy panello*/
#left {
    float: left;
    background-color: #B62AC7;
    width: 150px;
    position:absolute;
    color: black;
    text-align: center;
    height: 85%;
}
.center_content {
    position: relative;
    background-color: #285EBD;
    color: white;
    height: auto;
    alignment-adjust: central;
}
/*srodkowy element zmienialny*/
.left_content {
    background-color: #f2f1d7;
    height: 80%;
    float: left;
    margin-left: 170px;
}
#top a:link, #top a:visited {
  color: white;
  text-decoration: none;
}
#top a:link:hover, #top a:visited:hover  {//linki lewego panelu
  color: black;
  text-decoration : none;
}
body {
    background-color: #f2f1d7;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    height: auto;
   
}
/*stopka*/
h1 {
    font-family: Verdana, "Verdana CE", Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: grey;
}
/*naglowek*/
h2 {
    font-family: Verdana, "Verdana CE", Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  22px;
    font-variant: small-caps;
    font-weight: bold;
    margin: 0px;
    padding: 3px;
    color: white;
}
/*malymi jako kto zalogowany*/
h3 {
    font-family: Verdana, "Verdana CE", Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  11px;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    color: black;
}
/*malymi kto zalogowany*/
h4 {
    font-family: Verdana, "Verdana CE", Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  12px;
    font-variant: small-caps;
    margin: 0px;
    padding: 0px;
    color: black;
}
/*malymi kto zalogowany*/
h5 {
    font-family: Verdana, "Verdana CE", Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  18px;
    font-variant: small-caps;
    margin: 0px;
    padding: 5px;
    border-bottom: 4px solid #B62AC7;
    color: black;
}
a:link, a:visited {
  color: black;
  font-weight : bold;
  text-decoration: none;
}
a:link:hover, a:visited:hover  {
  color: #f2f1d7;
  font-weight : bold;
  text-decoration : none;
}